{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:url({{url_for('static' ,filename='user_upload')}}/{{post.img}});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body | safe }}
          <hr>
            {% if current_user.is_authenticated and post.author_id | int == current_user.get_id() | int%}
            <div class="clearfix">
                <a class="btn btn-warning float-right" href="{{url_for('delete_post', post_id=post.id)}}">Delete Post</a>
                <a class="btn btn-primary float-left" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>

            {% endif %}
            <br>
            <br>
            <br>


<!--           Comments Area -->
         {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment_text') }}

                <div class="col-lg-8 col-md-10 mx-auto comment">
                    {% for comment in post.comments: %}
                    <ul class="commentList">
                        <li>
                            <div class="commenterImage">
                                <img src="{{ post.img | gravatar }}"/>
                            </div>
                            <div class="commentText">
                                {{comment.text|safe}}
                                <span class="date sub-text">{{comment.comment_author.name}} commented on : {{comment.comment_time}}</span>

                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
             <form action="" method="POST" >
                 {{ form.hidden_tag() and form.csrf_token }}{{form.content.label}}
                 <br>
                 {{form.content}}
                 <br>
                 {{ captcha() }}
                 <br>
                 {% with messages = get_flashed_messages() %}
                 {% if messages %}

                    {% for message in messages %}
                      <p class="error" style="color:#f03e3e;list-style-type: none">{{ message }}</p>
                    {% endfor %}

                 {% endif %}
                 {%endwith%}
                 <input type="text" name="captcha">
                 <br>
                 <br>
                 <input type="submit" name="submit">
             </form>

                      {{ ckeditor.load() }}
                      {{ ckeditor.config(name='body') }}
          </div>


      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}